
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body{
	/*background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
*/
background: url("gif6.gif");
background-repeat: no-repeat;
/*background-attachment: fixed;*/
background-size: cover;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
}
.form_container {
	background: #2d3234d1
}
.input_container {
	padding: 4em;
	position: relative;
	color: #fff;
}
.input_container h1{
	font-size: 30px;
}
#input {
	padding: 10px 30px;
	background: #fff;
	width: 100%;
	font-size: 16px;
	border-radius: 15px;
	border: 2px solid #B721FF;
}

.sign-button{
border-radius: 0px;
border: 1px solid silver;
padding: 8px;
background: #2d3234d1;
/*background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);*/
box-shadow: 7px 6px 28px 1px rgba(0,0,0,.24);
outline: none;
transition: 0.3s all;
}

.sign-button a{
padding: 0px 16px;
color: silver;
}

/*.submit {
	background: #B721FF;
	padding: 10px 30px;
	color: #fff;
	border: 2px solid #B721FF;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 20px;
	position: absolute;
	right: 2em;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}*/
.spooky_bg {
	background: url("12.jpg");
	background-size: cover;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 20px;
	-webkit-clip-path: polygon(
		100% 0%,
		99% 50%,
		100% 100%,
		23% 100%,
		11% 51%,
		0 0
	);
	clip-path: polygon(100% 0%, 99% 50%, 100% 100%, 23% 100%, 11% 51%, 0 0);
}
.spooky_bg2 {
	display: none;
	background: url(https://cdn.thetealmango.com/wp-content/uploads/2021/10/squiddd.jpg);
	background-size: cover;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
#error {
	color: #35b7a4;
}
@media (max-width: 768px) {
	.spooky_bg {
		display: none;
	}
	.spooky_bg2 {
		display: block !important;
		height: 300px;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
	}
}

.credit a{
	text-decoration: none;
	color: #B721FF;
	font-weight: 800;
	}
	
	.credit {
	  margin: 10px;
	}

